.body-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.body{
  width: 80%;
  height: 100%;
  transform: translateX(10%);
  background-image: url(../assets/minaunghlaing.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 0;
}
