.eye {
  position: absolute;
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.eye.left {}

.eye.right {
  right: -1%;
}

.iris {
  width: 64px;
  height: 64px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -38px;
  background-image: url(../assets/eye.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.reflection {
  width: 100%;
  height: 100%;
  margin-left: -50%;
  margin-top: -40%;
  position: absolute;
  top: 65%;
  left: 50%;
  background-image: url(../assets/reflection.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .iris {
    width: 32px;
    height: 32px;
    top: 114%;
    left: 140%;
  }
}
