.App {
  width: 100%;
  height: 100%;
}

.app-background {
  background-color: #1e1f26;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.message {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 78px;
  line-height: 1;
  font-family: fat-frank, arial;
  text-transform: uppercase;
  font-weight: 800;
  color: #D05353;
  top: 70px;
  margin: 0;
}

@media screen and (max-width: 768px){
  .message {
    font-size: 60px;
  }
}

.min-aung-hlaing {
  width: 60%;
  height: 75%;
  position: fixed;
  left: 50%;
  bottom: 0;
}

@media screen and (max-width: 768px){
  .min-aung-hlaing{
    width: 120%;
    height: 50%;
  }
}

/* iPhone X */
@media only screen
  and (device-width : 375px)
  and (device-height : 812px)
  and (-webkit-device-pixel-ratio : 3) {
  .min-aung-hlaing{
    width: 140%;
    height: 50%;
  }
}


.min-aung-hlaing .min-aung-hlaing-inner {
  position: relative;
  width:100%;
  height: 100%;
  margin-left: -50%;
}

.eyes {
  position: absolute;
  width: 16%;
  height: 6%;
  bottom: 51%;
  left: 41%;
}
